/* 自定义样式 */

/* 调整友情链接样式 */
.friendlink {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.friendlink .panel {
  padding: 10px 30px;
  margin-bottom: 10px;
}

/* 调整页脚样式 */
footer.main-footer {
  margin-top: 0;
  padding-top: 10px;
} 